@use "global" as *;

.fish-icon-right {
  position: relative;
}

.fish-icon-right::before {
  content: "";
  position: absolute;
 background-image: url(/wp-content/themes/WordPressTheme/assets/images/common/kinngyonadadai_green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: rem(55);
  right: calc(50% - min(46%, 38.9375rem));
  top: rem(-22);
  width: rem(120);
  z-index: -10;
  @include mq(md) {
    height: rem(138);
    right: calc(50% - min(46%, 38.9375rem));
    top: rem(-70);
    width: rem(317);
  }
}
