@use "global" as *;


.page-top {
  position: fixed;
  z-index: 9000;
  right: rem(14);
  bottom: rem(16);
  width: rem(48);
  height: rem(48);
  cursor: pointer;
  @include mq(md) {
    width: rem(91.2);
    height: rem(91.2);
    right: rem(14.4);
    bottom: rem(20);
  }
}
