@use "global" as *;

.sango-icon {

}

.sango-icon::after {
  @include mq(md) {
  content: "";
  position: absolute;
  display: inline-block;
  width:  rem(194);
  height: rem(181);
  bottom: rem(-90);
  right:calc(50% - min(48%, 40rem));
  background-image: url(/assets/images/common/sango_isogintyaku.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  }
}