@use "global" as *;

.accordion {
  width: 100%;
}

.accordion__item:not(:first-of-type) {
  margin-top: rem(36);
  @include mq(md) {
   margin-top: rem(40);
  }
} 

.accordion__title {
  position: relative;
  background-color: $green;
  color: $white;
  padding: rem(16);
  font-size: rem(16);
  font-weight: normal;
  @include mq(md) {
    padding: rem(25) rem(40);
    font-size: rem(20);
    cursor: pointer;
  }
}

.accordion__title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rem(16);
  display: block;
  width: rem(28);
  background-color: $white;
  height: rem(1);
  @include mq(md) {
    right: rem(40);
  }
}

.accordion__title.is-open::before {
  opacity: 1;
}

.accordion__title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  right: rem(16);
  display: block;
  width: rem(28);
  background-color: $white;
  height: rem(1);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  opacity: 0;
  @include mq(md) {
    right: rem(40);
  }
}

.accordion__title.is-open::after {
  transform: translateY(-50%) rotate(90deg);
  opacity: 1;
}

.accordion__content {
  display: block;
  padding: rem(24) rem(16); 
  border: 1px solid $green;
  @include mq(md) {
   padding: rem(40);
   margin-top: rem(16);
  }
}
