@use "global" as *;

.aside__box {
  max-width: calc(294/345 * 100%);
  width: 100%;
  margin-inline: auto;
  @include mq(md) {
   max-width: rem(294);
   width: 100%;
  }
}

.aside__cards-item {
  margin-top: rem(24);
}

.aside__box:not(:first-of-type) {
  margin-top: rem(83.2);
}


.aside__card-item {
  margin-top: rem(24);
}

.aside__campaign-card {
  max-width: rem(294);
}

.aside__campaign-card:first-of-type {
  margin-top: rem(26);
}

.aside__campaign-card:not(:first-of-type) {
  margin-top: rem(24);
  @include mq(md) {
   margin-top: rem(40);
  }
}


.aside__archive {
  margin-top: rem(24);
  color: $green;
  @include mq(md) {
   margin-top: rem(32);
  }
}

.aside__archive-link {
  display: flex;
  align-items: center;
  font-size: rem(24);
}

.aside__archive-img {
  width: rem(24);
  height: rem(24);  
}

.aside__archive-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aside__archive-text {
  margin-left: rem(11);
}


.aside__archive-list {
  margin-top: rem(24);
}












.aside__archive-link.aside__archive-link--month {
  margin-left: rem(24);
}

.toggleBox_checkbox {
  display: none;
}

.toggleBox_label:hover {
  text-decoration: underline;
}

.toggleBox_label::before {
  content: "+ ";
}

.toggleBox_checkbox:checked + .toggleBox_label::before {
  content: "- ";
}

.toggleBox_checkbox + .toggleBox_label + .toggleBox_content {
  display: none;
}

.toggleBox_checkbox:checked + .toggleBox_label + .toggleBox_content {
  display: block;
}

.toggleBox_content {
  width: 300px;
  padding: 15px;
  background: #EEE;
}