@use "global" as *;

.aside-card__img {
  width: 100%;
  max-width: rem(294);
}

.aside-card__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 294/218;
}

.aside-card__meta {
  margin-top: rem(16);
  font-size: rem(12);
  line-height: calc(18/12);
  display: block;
}

.aside-card__title {
  margin-top: rem(8);
  font-size: rem(24);
  font-weight: $normal;
}

.aside-card__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
   margin-top: rem(41.6);
  }
}