@use "global" as *;

.blog-article time {
  font-size: (14);
  line-height: calc(18/14);
}


.blog-article h2 {
  margin-top: rem(8);
  font-size: rem(24);
  line-height: 1;
  padding-bottom: rem(4);
  border-bottom: 1px solid $green;
  @include mq(md) {
   padding-bottom: rem(8);
   font-size: rem(32);
   letter-spacing: 0.05em;
  }
}

.blog-article figure {
  width: 100%; 
  margin-top: rem(24);
  max-width: 100%;
  @include mq(md) {
    margin-top: rem(40);
    max-width: rem(700);
    width: 100%;
  }
}

.blog-article figure img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 345/231;
  @include mq(md) {
    aspect-ratio: 700/488;
  }
}

.blog-article p {
  margin-top: rem(24);
  font-size: rem(16);
  line-height: calc(24/16);
  @include mq(md) {
   margin-top: rem(40);
  }
}

.blog-article ul {
  margin-top: rem(24);
  @include mq(md) {
   margin-top: rem(40);
  }
}

.blog-article li {
  font-size: rem(16);
  line-height: calc(24/16);
  display: flex;
  align-items: center;
}

.blog-article li::before {
  content: "";
  background-image: url(/wp-content/themes/WordPressTheme/assets/images/common/hitode-green.png);
  display: inline-block;
  width: rem(20);
  height: rem(20);
  background-size: cover;
  top: 50%;
  margin-right: rem(10);
}

