@use "global" as *;

.blog {
  padding-top: rem(86);
  @include mq(md) {
    padding-top: rem(100);
    position: relative;
  }
}
.blog::before {
  content: none;
  display: none;
  @include mq(md) {
    content: "";
    position: absolute;
    display: inline-block;
    background-image: url(/assets/images/common/kinngyonahadai-white.png);
    background-size: rem(437) rem(201);
    background-repeat: no-repeat;
    left:  calc(50% - min(48%, 40rem));
    top: 3.3%;
    width: rem(437);
    height: rem(207);
  }
}

.blog::after {
  @include mq(md) {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background-image: url(/assets/images/common/Rectangle7.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 50%;
   width: 100%;
   z-index: -1;
  }
}

.blog__bg-img {

  @include mq(md) {
    aspect-ratio: 1440 / 500;
    height: 100%;
    object-fit: cover;
    width: 100%;
    z-index: -1;
  }
}

.blog__inner {
  width: 100%;
  max-width: rem(600);
  margin-inline: auto;
}


.blog__title {
  @include mq(md) {

  }
}

.blog__contents {
  margin-top: rem(23);
  @include mq(md) {
   margin-top: rem(80);
  }
}

.blog__cards .cards__item {
  // max-width: rem(600);
  // margin-inline: auto;
  @include mq(md) {
   
  }
}

.blog__btn {
  text-align: center;
  margin-top: rem(41);
  @include mq(md) {
   margin-top: rem(80);
  }
}