@use "global" as *;

.footer {
  background-color: $green;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq(md) {
   padding-top: rem(80);
   padding-bottom: rem(80);
  } 
}

.footer__inner {
  max-width: rem(600);
  width: 100%;
}

.footer__title-box {
  display: flex;
  flex-direction: column;
  @include mq(md) {
   flex-direction: row;
   align-items: flex-end;
   gap: rem(42);
  }
}

.footer__title {
  width: rem(120);
  @include mq(md) {
    width: rem(200);
  }
}

.footer__title__link {
  display: inline-block;
}

.footer__title img {
  width: 100%;
  object-fit: cover;
}

.footer__sns-list {
  margin-top: rem(17);
  display: flex;
  align-items: center;
  gap: rem(16);
  @include mq(md) {
    gap: rem(14);
  }
}

.footer__sns-icon {
  width: rem(24);
  @include mq(md) {
   width: rem(32);
  }
}

.footer__sns-link {
  display: inline-block;
}

.footer__sns-link:hover {
  @include mq(md) {
   opacity: 0.7;
  }
}

.footer__sns-icon img {
  width: 100%;
  object-fit: cover;
}


.footer__nav-list:not(:first-of-type) {
  margin-top: rem(16);
}

.footer__list-contents {
  display: flex;
  margin-top: rem(6.4);
  gap: rem(12.8);
  max-width: rem(600);
  margin-inline: auto;
  @include mq(md) {
   gap: rem(56);
   max-width: 100%;
   width: 100%;
  }
}

.footer__column-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  @include mq(md) {
    flex-direction: row;
    width: 100%;
    max-width: rem(500);
    gap: rem(120);
  }
}

.footer__list-contents .footer__column-list:nth-child(2) {
  padding-left: rem(6.4);
  @include mq(md) {
    padding-left: 0;
  }
}  

.footer__nav-list {
  margin-top: rem(16);
  @include mq(md) {
   
  }
}

.footer__copy {
  margin-top: rem(21);
  text-align: center;
  @include mq(md) {
   margin-top: rem(59);
  }
}

.footer__copy-text {
  font-size: rem(12);
  line-height: calc(18/12);
  color: $white;
  letter-spacing: 0.034em;
  @include mq(md) {
    letter-spacing: 0.12em;
  }
}