@use "global" as *;


.terms-of-service__inner {
  max-width: rem(600);
  width: 100%;
  margin-inline: auto;
  @include mq(md) {
   max-width: rem(850);
  }
}

.terms-of-service__title {
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(32);
  }
}

.terms-of-service__contents {
  margin-top: rem(40);
}

.terms-of-service__text-box {
  margin-top: rem(32);
}

.terms-of-service__text,
.terms-of-service__list-item {
  font-size: rem(16);
  line-height: calc(32/16);
}

.terms-of-service__list-item {
  text-indent: -1em;
  padding-left: rem(24);
}

.terms-of-service__text-item {
  margin-top: rem(32);
  
}